#hd{
    margin-left: 640px;
    margin-bottom: 50px;
    font-size:xx-large;
    font-weight: bolder;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

/* Style for input fields */
.input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

/* Style for the dropdown */
#room, #guests {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    cursor: pointer; /* Set cursor to pointer for the dropdown */
    background-color: black;
    color: white;
}

/* Style for labels */
label {
    display: block;
    margin-bottom: 8px;
}

/* Style for the submit button */
input[type="submit"] {
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049; /* Darker green on hover */
}

#file{
    cursor: pointer;
}